*DS_Store*
*~
isetbio.wiki/*
wiki/*
/README.md

/isettools/scene/deleteMePlease.mat
/tutorials/t_hyperspectral/PSF.png
/tutorials/t_recipes/right_temporal_group1.pdf
/tutorials/t_recipes/right_temporal_group2.pdf
/tutorials/t_recipes/right_temporal_group3.pdf
/tutorials/t_recipes/right_temporal_group4.pdf
/tutorials/t_recipes/right_temporal_group5.pdf
isetbio.wiki/
wiki/
*.asv
